body {
    width: 100%;
    height: 100%;
    background-image: url(BG@3x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute ;
    
}


.Logoarriba {
position: fixed;
top: 0;
left: 0;

}

 h4 {
position: fixed;
left: 5%;
top: -4%;
bottom: 29.44%;
font-family: 'Archivo';
font-style: normal;
font-weight: 100;
font-size: 25px;
color: #EFC0FF;

 }

 h5 {
    position: fixed;
    left: 5%;
    top: -75%;
    bottom: 10.08%;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    color: #E6EFF8;
    

 }
    

.login-container {
text-align: center;
align-items: center;
background: rgba(23, 23, 23, 0.8);
backdrop-filter: blur(5px);
border-radius: 12px;
bottom: 144px;
padding: 5px;
position: absolute;
width: 462px;
height: 900px;
left: 878px;
top: 178px;
background: rgba(23, 23, 23, 0.8);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 12px;




  }
  
  input {
    align-items: center;
    display: block;
    padding: 12px;
    margin: 15px ;
    border-radius: 4px;
    Width: 400px;
    height:  47px;
    
    
    
  }
  
  button {
    position: relative;
    top: 10%;
    background-color:#BF5FE1;
    color: white;
    padding: 20px;
    margin: ;
    width: 90%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 999;
  }
  

  button:hover {
    background-color: #fc0ef8;
  }

  b{ 
    position: absolute;
    height: 19px;
    left: 70.25%;
    top: 35%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
/* identical to box height */
    display: flex;
    align-items: center;
    text-align: right;
/* Light Violet */
    color: #BF5FE1;

  } 

  a{ 
    position: absolute;
    height: 19px;
    left: 15.94%;
    right: 50.07%;
    top: 35%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .recordar-contrasena {
    display: block;
    left: 20px;
    top: -30px;
    width: 5%;
    margin-bottom: 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  

 
  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto;
  }
  
  #eyeIcon {
    color: #BF5FE1;
    position: absolute;
    top: -105px ;
    right: 20px;

  }

  .social-buttons {
    margin-top: 200px;
    

  }

  .social-buttons button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin: 10px;
  }
  

  .social-buttons button i {
    margin-right: 10px;
    
  }

 h7 {
    position: absolute;
    height: 19px;
    left:  30.28%;
    top: calc(50% - 19px/2 + 56.5px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: right;
    
    color: #FFFFFF;

    
 }

 h8 
 {  
    position: absolute;
    height: 19px;
    left: 30.6%;
    right: 30.28%;
    top: calc(50% - 19px/2 + 56.5px);
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: right;
    
    /* Light Violet */
    
    color: #BF5FE1;
 }
 
 .error-message {
    display: none;
    color: red;
    font-size: 12px;
   
  }

  .borde 
  { display: flex;
    flex-direction:row;
    position: absolute;
    left: 10.42%;
    right: 60.32%;
    top: 59.8%;
    bottom: 40%;
    border: 1px solid #FFFFFF;

  }

